alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: servicenow
      routes: []
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 3h
    receivers:
      - name: servicenow
        webhook_configs:
          - url: 'https://dev435190.service-now.com/api/sn_em_connector/em/inbound_event?source=prometheus'
            send_resolved: true
            http_config:
              basic_auth:
                username: '<INTEGRATION_USERNAME>'
                password: '<INTEGRATION_PASSWORD>'
